@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */




:root {
  --darkest: 270 86% 3%;
  --darker: 240 6% 10%;
  --dark: 240 5% 26%;
  --lightest: 240 6% 90%;
  --lighter: 240 5% 65%;
  --primary-light: 255 92% 76%;
  --primary-dark: 263 70% 50%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --radius: 2rem;
  /* --gradient: #8e84ff, #d499ed, #f47b8f, #fabfb2, #fffad1, #95f3d9, #64b2ff, #8e84ff, #d499ed, #f47b8f; */
  --gradient: #3d2c8d, #5a189a, #7209b7, #9d4edd, #c77dff, #590d22, #800f2f, #b3003b, #e63946, #f77f00;

  --gradient-color-count: 10;
  --gradient-interval-size: 3;
  --gradient-size: calc((100%*(var(--gradient-color-count) - 1)) /(var(--gradient-interval-size) - 1));
  --gradient-animation-duration: 20s;

}

@keyframes dynamic-gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


h1 span.font-hero {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(135deg, var(--gradient));
  background-size: var(--gradient-size) var(--gradient-size);
  animation-name: dynamic-gradient;
  animation-duration: var(--gradient-animation-duration);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body {
  background-color: hsl(0, 0%, 100%) !important;
}


.hero-text {
animation-delay:0.35s;
animation-fill-mode:forwards;
}

.btn-animation {
animation-delay:0.4s;animation-fill-mode:forwards;
}